.in{
    height: 97vh;
    background-repeat: no-repeat;
    background-image: url('/home/prasanna/Documents/insuchamp design/Assets/514380-PI8QRL-391.jpg'); 
    background-size: cover;
    background-position: center;
}

.logo-pos{
    position: absolute;
    top:40%;
}
.read{
    color: green; 
    }
.read:hover{
text-decoration: underline;
background-color: white;
color: green;
}